*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* class utility */
.float_left{
  float: left;
}

.float_right{
  float: right;
}

p{
  line-height: 2em;
}
/* /class utility */

/* body */
body{
  width: 1000px;
  margin: auto;
  background-image: url('../img/sfondo.png');
  font-family: 'Roboto', sans-serif;
}
/* /body */

/* header */
header{
  margin: 20px 0;
}
/* prima sezione */
header > .img_alb{
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url(../img/alberi.jpg);
  background-size: cover;
  background-position: center;
  border: 6px solid white;
}

header img{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

header h1{
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  font-size: 30px;
}
/* /prima sezione */

/* seconda sezione */
header > nav{
  width: 100%;
  height: 55px;
  background-color: grey;
  text-align: center;
}

nav > ul{
  list-style: none;
}

nav li{
  display: inline-block;
}

nav a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0 15px;
  line-height: 55px;
}

header > nav > ul > li:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

nav a:hover{
  text-decoration: underline;
}
/* /seconda sezione */
/* /header */

/* main */
.container::after{
  content: "";
  display: table;
  clear: both;
}

/* aside left */
main > .aside_l{
  width: 20%;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  position: relative;
}

.aside_l > i{
  position: absolute;
  font-size: 1.5em;
  top: 10px;
  left: 10px;
  color: red;
}

.aside_l > h2{
  margin-left: 30px;
}

aside > ul{
  list-style: none;
}

aside > ul > li{
  margin: 10px 0px;
}

aside > ul > li > a{
  text-decoration: none;
  color: green;
}

aside ul li a:hover{
  text-decoration: underline;
}

/* /aside left */

/* article */
main > article{
  width: 50%;
  background-color: white;
  border-radius: 7px;
  margin: 0 5%;
  padding: 20px;
}

article > h2{
  margin-bottom: 30px;
  text-shadow: 3px 3px 7px red;
}
/* /article */

/* aside right */
main > .aside_r{
  width: 20%;
}

.aside_int{
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 7px;

}

aside.aside_r h3{
  margin-bottom: 30px;
}
/* /aside right */
/* /main */

/* footer */
footer{
  width: 100%;
  background-color: white;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 7px;
  color: lightgrey;
  text-align: center;
}

footer a{
  text-decoration: none;
}

footer i{
  color: lightgrey;
}

.icon{
  position: relative;
  height: 150px;
}

a #face{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

a #insta{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

a #git{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.icon > a i:hover{
  color: rgba(0, 0, 0, 0.7);
}
/* /footer */
